
@import "minima";

/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #f6f8fa;
}


.highlighter-rouge & {
    background: #f6f8fa;
  }


